[submodule "deps/linux-pe"]
	path = deps/linux-pe
	url = https://github.com/can1357/linux-pe.git
[submodule "deps/zydis"]
	path = deps/zydis
	url = https://github.com/zyantific/zydis
[submodule "tests/deps/cli-parser"]
	path = tests/deps/cli-parser
	url = https://githacks.org/_xeroxz/cli-parser
[submodule "deps/unicorn"]
	path = deps/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
